<footer class="footer">
  <div class="footer-container">

    <!-- LEFT -->
    <div class="footer-left">
      <div class="constiner-img-logo">
        <div class="logo-icon">JA</div>
        <div>
          <h2>Joel Albino</h2>
          <h3> <span>&lt;</span> Desarrollador Full Stack <span>/&gt;</span></h3>
          <p>Construyendo el futuro, una línea de código a la vez.</p>
        </div>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="footer-right">
      <a
        href="https://www.linkedin.com/in/joel-albino-0a3127219"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
        class="social-btn"
      >
        <i class="fa-brands fa-linkedin-in"></i>
      </a>

      <a
        href="https://github.com/joelalbino19"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
        class="social-btn"
      >
        <i class="fa-brands fa-github"></i>
      </a>

      <a
        href="https://wa.me/573148625120"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="WhatsApp"
        class="social-btn whatsapp"
      >
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>

  </div>

  <!-- DIVIDER -->
  <div class="divider"></div>

  <!-- COPYRIGHT -->
  <div class="copyright">
    © 2026 Desarrollador Full Stack. Todos los derechos reservados.
  </div>
</footer>
