<section id="about" class="about-section" id="about">
  <div class="container">
    <!-- Header -->
    <div class="about-header animate-header">
      <span class="section-tag">Perfil Profesional</span>
      <h2>Sobre Mí</h2>
    </div>

    <div class="about-content">
      <!-- Texto -->
      <div class="about-text animate-text">
        <h1>
          Tecnólogo en Analista y Desarrollador de sistemas de información.
        </h1>

        <h3>
          Analista de sistemas y Arquitecto de software enfocado en soluciones
          escalables y diseño centrado en el usuario.
        </h3>

        <p>
          Desarrollador de software – Director Tecnológico (CTO) con más de tres
          años de experiencia en la industria tecnológica, especializado en el
          diseño, desarrollo e implementación de soluciones digitales
          innovadoras y de alta calidad. Cuento con sólida experiencia en
          diversas herramientas tecnológicas, así como en el desarrollo de
          aplicaciones web y móviles, orientadas a la eficiencia, escalabilidad
          y experiencia de usuario.
        </p>

        <p>
          He liderado y coordinado equipos de desarrollo, supervisando la
          arquitectura de software, la calidad del código y la ejecución de
          pruebas, garantizando el cumplimiento de estándares técnicos y plazos
          de entrega.
        </p>

        <p>
          Mi enfoque está en crear soluciones tecnológicas que aporten valor
          real al negocio, priorizando el rendimiento, la optimización, la
          seguridad y la experiencia del usuario.
        </p>

        <!-- Tech stack -->
        <div class="tech-stack animate-tech">
          <span class="tilt"><i class="fa-brands fa-angular"></i>Angular</span>
          <span class="tilt"><i class="fa-brands fa-react"></i>React</span>
          <span class="tilt">Ionic</span>
          <span class="tilt"><i class="fa-brands fa-node-js"></i>Node.js</span>
          <span class="tilt"
            ><i class="fa-solid fa-circle-nodes"></i>TypeScript</span
          >
          <span class="tilt"><i class="fa-brands fa-dart-lang"></i>Dart</span>
          <span class="tilt"><i class="fa-brands fa-flutter"></i>Flutter</span>
          <span class="tilt"><i class="fa-brands fa-git-alt"></i>Git</span>
          <span class="tilt"><i class="fa-brands fa-cloud"></i>GCP</span>
          <span class="tilt"><i class="fa-solid fa-cloud"></i>Oracle</span>
          <span class="tilt"><i class="fa-brands fa-aws"></i>AWS</span>
          <span class="tilt"><i class="fa-solid fa-server"></i>MySQL</span>
          <span class="tilt"><i class="fa-solid fa-server"></i>SQL Server</span>
          <span class="tilt"
          ><i class="fa-solid fa-database"></i>Mongo DB</span
          >
          <span class="tilt"><i class="fa-solid fa-circle-check"></i>Postman</span>
        </div>

        <!-- Buttons -->
        <div class="about-actions">
          <a class="btn outline" href="#projects"> Ver Portafolio </a>
        </div>
      </div>

      <!-- Imagen -->
      <div class="about-image animate-image">
        <img src="/images/Foto.png" alt="Profile" />

        <!-- <div class="badge">
          <i class="fas fa-certificate"></i>
          <div>
            <strong>CERTIFICADO</strong>
            <span>AWS Solutions Architect Associate</span>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Stats -->
    <div class="about-stats animate-stats">
      <div class="stat tilt">
        <div>
          <i class="fa-solid fa-calendar"></i>
          <strong>+4</strong>
        </div>
        <span>Años de Experiencia</span>
      </div>

      <div class="stat tilt">
        <div>
          <i class="fa-solid fa-cube"></i>
          <strong>+10</strong>
        </div>
        <span>Proyectos Completados</span>
      </div>

      <div class="stat tilt">
        <div>
          <i class="fa-solid fa-face-smile"></i>
          <strong>+15</strong>
        </div>
        <span>Clientes Satisfechos</span>
      </div>

      <div class="stat tilt">
        <div>
          <i class="fa-solid fa-mug-saucer"></i>
          <strong
            ><i class="fa-solid fa-infinity" style="color: #ffffff"></i
          ></strong>
        </div>
        <span>Tazas de Café</span>
      </div>
    </div>
  </div>
</section>
