<section id="hero" class="hero-dark gsap-section">
  <div class="hero-dark__container">

    <!-- LEFT -->
    <div class="hero-dark__content">

      <span class="hero-badge gsap-item">
        <span class="dot"></span>
        Disponible para nuevos proyectos
      </span>

      <h1 class="hero-title gsap-item">
        Hola, soy<br />
        <span class="name-gradient">Joel Albino</span>
      </h1>

      <h2 class="hero-subtitle gsap-item">
        Desarrollador Software Full Stack
      </h2>

      <p class="hero-description gsap-item">
        Ayudo a empresas a construir aplicaciones web escalables,
        robustas y modernas. Especializado en el ecosistema
        <strong>Angular</strong>, <strong>Flutter</strong>, 
        <strong>Node.js</strong>, <strong>Python</strong>, 
        <strong>SQL Server</strong>, <strong>Postgres DB</strong>,
        <strong>Node.js</strong> y arquitectura <strong>Cloud</strong>.
      </p>

      <div class="hero-actions gsap-item">
        <a href="#projects" class="btn btn-primary">
          Ver Proyectos
        </a>

        <a href="#contact" class="btn btn-outline">
          Contactar
        </a>
      </div>

      <div class="hero-stats gsap-item">
        <div class="stat">
          <strong>+4</strong>
          <span>Años exp.</span>
        </div>
        <div class="stat">
          <strong>+10</strong>
          <span>Proyectos</span>
        </div>
        <div class="stat">
          <strong>100%</strong>
          <span>Clientes felices</span>
        </div>
      </div>

    </div>

    <!-- RIGHT -->
    <div class="hero-dark__visual gsap-visual">

      <div class="profile-card">
        <img
          src="images/Foto.png"
          alt="Profile"
        />

        <div class="stack-card">
          <span class="stack-title">STACK TECNOLÓGICO</span>

          <div class="stack-icons">
            <div class="stack-icons-items">
              <i class="fa-brands fa-angular" style="color: red;"></i>
              <span>Angular</span>
            </div>
            <div class="stack-icons-items">
              <i class="fa-brands fa-flutter"></i>
              <span>Flutter</span>
            </div>
            <div class="stack-icons-items">
              <i class="fa-brands fa-node-js" style="color: green;"></i>
              <span>Node.Js</span>
            </div>
            <div class="stack-icons-items">
              <i class="fa-solid fa-cloud"></i>
              <span>AWS</span>
            </div>
            <div class="stack-icons-items">
              <i class="fa-solid fa-database"></i>
              <span>SQL</span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
